.primary_button {
  width: 100%;
  background-color: #20aa7a;
  padding: 16px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: inline-block;
  position: relative;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: all;
  transition-duration: 300ms;

  span {
    position: relative;
    z-index: 20;
  }
}

.primary_button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #28ca91;
  border-radius: 12px;
  transition: all;
  transition-duration: 300ms;
}

.primary_button:hover {
  &::before {
    width: 100%;
  }
}

.edit, .delete {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.edit {
  background-color: #20aa7a;
  color: #fff;
  font-weight: bold;
}

.delete {
  background-color: rgb(231, 75, 75);
  color: #fff;
  font-weight: bold;
}