@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  font-family: "Lato", serif;
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: #20aa7a;
}

body {
  height: 100vh;
  overflow: hidden;
  background-image: url("../public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}